<section id='faq'>
  <p><a href='/'>&larr; Tilbage</a></p>

  <h1>FAQ</h1>

  <h2>Hvorfor?</h2>
  <p>Rejsekorts egen selvbetjeningsside er lidt omfattende, ikke så mobil-venlig, og lader os ikke gemme vores kodeord. Jeg vil bare vide, om jeg skal tanke op.</p>

  <h2>Men Rejsekort har da ikke noget API?</h2>
  <p>Næ, desværre! Derfor virker siden her ved at <em><a href="http://en.wikipedia.org/wiki/Data_scraping">scrape</a></em> den side, du selv ser, når du logger ind.</p>

  <h2>Gemmer I mit kodeord?</h2>
  <p>Brugernavn og kodeord er den eneste måde at logge ind på. De bliver kun gemt på din egen computer, krypteret i en cookie. Du kan du se hvordan i kildekoden <a href="http://github.com/mikker/RejsekortSaldo">på GitHub</a>.</p>

  <p><a href='/'>&larr; Tilbage</a></p>
</section>
